.Poster {
  background-color: rgb(61, 60, 60);
  color: #fff;
  font-size: 10px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
img {
  margin: 20px;
}
.Poster:hover {
  background-color: rgb(99, 96, 96);
  color: #fff;
  font-size: 10px;
}
