.MoviePoster{
    background-color: rgb(61, 60, 60);
    color: #fff;
    font-size: 10px;
}
.img {
    margin: 20px;
}
.MoviePoster:hover{
    background-color: rgb(180, 153, 153);
    color: #fff;
    font-size: 10px;
}